---
# tasks file for setup-ubuntu

###########################################################
# Set the hostname by referencing ansible inventory 

- name: "(General) Setting hostname"
  ansible.builtin.hostname:
    name: "{{ inventory_hostname }}"

###########################################################
# Ubuntu Server configuration
###########################################################

- name: "(Debian/Ubuntu) Installing required packages and updating apt repository cache"
  ansible.builtin.package:
    name: "{{ common_packages_debian }}"
    state: present
    update_cache: true
  become: true
  when: ansible_facts['os_family'] == "Debian"

- name: "(Debian/Ubuntu) Install qemu-guest-agent on QEMU VMs"
  ansible.builtin.package:
    name: qemu-guest-agent
    state: present
  become: true
  when: ansible_facts['os_family'] == "Debian"
  
############################################################
# Fedora Core/Silverblue configuration

- name: "(Fedora - Atomic) Installing required packages"
  community.general.rpm_ostree_pkg:
    name: "{{ common_packages_fedora }}"
    state: present
  become: true
  when: ansible_facts['os_family'] == "RedHat" and ansible_facts['distribution'] == "Fedora" and variant_id.stdout == "iot"

- name: "(Fedora - Atomic) Install qemu-guest-agent on QEMU VMs"
  community.general.rpm_ostree_pkg:
    name: qemu-guest-agent
    state: present
  become: true
  when: ansible_facts['os_family'] == "RedHat" and ansible_facts['distribution'] == "Fedora" and variant_id.stdout == "iot"

################################
# Configure Docker
################################

- name: "(General) Set timezone to {{ common_timezone }}"
  community.general.timezone:
    name: "{{ common_timezone }}"
  become: true

# Firewall stuff is deprecated for now
#- name: Allow SSH in UFW
#  community.general.ufw:
#    rule: allow
#    port: "22"
#    proto: tcp
#  become: true

#- name: Set firewall default policy
#  community.general.ufw:
#    state: enabled
#    policy: reject
#  become: true

- name: "(Ubuntu) Create users"
  ansible.builtin.user:
    name: "{{ item.name }}"
    groups: sudo
    append: true
    state: present
    shell: /bin/bash
  loop: "{{ common_users }}"
  become: true
  when: ansible_facts['os_family'] == "Debian" and ansible_facts['distribution'] == "Ubuntu"

- name: "(Fedora) Create users"
  ansible.builtin.user:
    name: "{{ item.name }}"
    groups: wheel
    append: true
    state: present
    shell: /bin/bash
  loop: "{{ common_users }}"
  become: true
  when: ansible_facts['os_family'] == "RedHat" and ansible_facts['distribution'] == "Fedora"

- name: "(General) Add authorized keys"
  ansible.posix.authorized_key:
    user: "{{ item.name }}"
    key: "{{ item.ssh_key }}"
    state: present
  loop: "{{ common_users }}"
  become: true

- name: "(General) Ensure sudo group has passwordless sudo"
  ansible.builtin.copy:
    dest: /etc/sudoers.d/ansible
    content: "ansible ALL=(ALL) NOPASSWD:ALL"
    mode: '0440'
    owner: root
    group: root
    validate: 'visudo -cf %s'
  become: true